html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #7159c1;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;/*fr = fracao da tela |1 fr 1 fr = 50% e 50% da tela
    |3 fr 1 fr = 75% e 25% da tela*/
    grid-template-rows: 20vh 70vh 10vh; /*tamanho das linhas por fracao da 
                                        altura do monitor*/
    grid-template-areas:    "header header"
                            "main aside"
                            "footer footer";
}

#webHead {
    background: yellow;
    grid-area: header;
}

#webMain {
    background: red;
    grid-area: main;
}

#webAside {
    background:blue;
    grid-area: aside;
}

#webFooter {
    background: white;
    grid-area: footer;
}
